label {
  display: block;
  padding: 20px;
  font-weight: bold;
  font-family: sans-serif;
}

textarea {
  display: block;
  padding: 20px;
}

.container{
  border: 3px solid orange;
  margin: 5px;
}
.who {
  display:none;
}
.where {
  display:none;
}

.what {
  display:none;
}

.container .showing {
  display: block;
}
