html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font-family: "Helvetica", sans-serif;
	line-height: 1;
}
h1{
	font-size: 3.5em;
}
h2{
	font-size: 2em;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
button {

}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.nav{
	background-color: black;
	color:white;
	padding: 20px 0;
	overflow: auto;

}

.nav ul{
margin: 0 auto;
outline: solid 1px green;
overflow: auto;
width: 500px;
}

.nav li {
	background-color: rgba(255, 0, 0, 0.2);
	float: left;
	text-align: center;
	width: 100px;
}

.nav img {
width: 60px;
}




.outer{
	text-align: center;
	padding: 25px;
	margin: 0 auto;
	overflow: auto;
	clear:both;
}

.welcome{
	outline: solid 3px blue;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
	width: 50%;
}

.welcome h1, h2 {
	padding: 10px;
}
.welcome p{
	padding: 10px;
	margin: 0px 120px;
}



.container {
	outline: solid 5px orange;
	margin:0 auto;
  max-width: 100%;
	overflow: auto;
	padding: 3% 7%;

}

.image {
	outline: solid 3px red;
	max-width: 50%;
	text-align: center;
	float: left;
	width: 50%;
}

.image img{
	outline: solid 1px blue;
	max-width: 80%;
	text-align: center;
	margin: 0 auto 0 auto;
	overflow: auto;

}

.text{
	outline: dashed 3px green;
	max-width: 50%;
	text-align: center;
	float: left;
	width: 50%;
	margin-top: 10%;
	line-height: 2em;
}

.text-full{
	outline: dashed 3px green;
	max-width: 70%;
	text-align: center;
	float: left;
	margin-top: 3%;
	line-height: 2em;
}

.quote-image{
	outline: solid 1px blue;
	width: 15%;
	text-align: center;
	margin: 0 auto 0 auto;
	overflow: auto;
	float: left;
}

.quote-image img{
	max-height: 150px;
}

.button-l{
	outline: solid 3px red;
	max-width: 48%;
	text-align: right;
	float: left;
	width: 50%;
	padding: 0%, 1%;

}

.button-r{
	outline: solid 3px Yellow;
	max-width: 50%;
	text-align: left;
	float: left;
	width: 48%;
	padding-left: 0%, 1%;

}
