html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
background-color: rgba(253, 145, 54, 1.0);
border: solid 1px black;
overflow: auto;
padding: 11px 0;
}

.container{
  margin: 0 auto 0 auto;
  max-width: 960px;
}

.nav-content{
  background-color: pink;
  float:left;
  overflow: auto;
}

.nav-content li{
  outline: solid 1px green;
  float:left;
}

.nav-info{
  background-color: yellow;
  float:right;
  overflow: auto;
}
.nav-info li{
  float:left;
  outline: dashed 1px red;
display: inline;
}

body {
	margin: 0, auto;
	width:90%;
}
header {
  clear:both;
	float: left;
  text-align: center;
  background-color: rgba(253, 145, 54, 1.0);
  padding:40px 0 45px 0;
}

header h1{
  font-size: 6em;

}
header h2{
  font-size: 2em;
}

.supplement{
  background-color: pink;
  float: left;
  width: 15%;
}
.post {
  background-color: magenta;
  float: left;
  width: 85%;
}

.paging{
  clear:both;
  text-align: center;
}
