@import 'reset';
@import 'variables';
@import 'hover';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');




h2{
  font-size: 4em;
  padding-top: 130px;
}

p{
font-size: 1.5em;
padding-top: 10px;
padding-left: 60px;
padding-right: 60px;
line-height: 1.5em;
}

.text{
  font-family: $standardFont;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  outline: 1px solid green;
  height: 320px;
  // overflow: hidden;
}
.color{
    background-color: rgba(0, 0, 0, 0.4);
    height: 400px;
}
.photos{
  float: left;
  width: 32.63%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.img1{
  background-image: $guypic;
  border-top: $borderInfo;
  border-bottom: $borderInfo;
}

.img2{
  background-image: $phonepic;
  border: $borderInfo
}

.img2 .button{
  margin-top: 50px;
  outline: 1px solid orange;
}

.img3{
  background-image: $girlpic;
  border-top: $borderInfo;
  border-bottom: $borderInfo;
}
.img3 .button{
  margin-top: 50px;
  outline: 1px solid orange;
}

//how to hover over nonexsistnt thing
.button{
  display: none;

}
