.blog-post img{
width: 200px
}

.blog-post header{
  border: solid 1px green;
}

.blog-post body {
  border: solid 1px blue;
}

.blog-post .related {
  border: solid 1px red;
}

.blog-post .related p{
  font-size: 16px;
}
