@import "reset";
@import "clientReact";

body {
  font-size: 2em;
}
h1 {
  color: green;
}

.on {
  background-color: purple;
  color: white;
}

.message-switch {
  color: red;
}

p{
  color: darkblue;
  font-family: sans-serif;
}
