.first-color{
  width: 70px;
  height: 50px;
  background-color: purple;
  color: white;
}

.new-color{
  width: 70px;
  height: 50px;
  background-color: yellow;
  color: black;
}

.barbie-dolls li {
  border: 2px solid black;
  border-radius: 50%;
  float: left;
  width: 100px;
  height: 60px;
  padding-top: 40px;
  margin: 10px;
  background-color: pink;
  text-align: center;
  list-style: none;
}

.barbie-dolls .off {
  border: 2px solid black;
  border-radius: 50%;
  float: left;
  width: 100px;
  height: 60px;
  padding-top: 40px;
  margin: 10px;
  background-color: orange;
  text-align: center;
  list-style: none;
}
