@import 'reset';

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

p {
  color: red;
}

.top{
  background-color: orange;
  width: 100%;
  overflow: auto;
}


.cool-site{
position: absolute;
right: 0;
top: 0;
}

.app-component {
  color:green;
  font-family: sans-serif;
}

.blue{
  background-color: lightblue;
}
